@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Card
@if (Model == null)
{
    <h1>No card available</h1>
}
else
{
    <div class="col-12">
        <div class="row">
            <div class="col-12 text-center">
                <h3 title="@Model.Name" class="card-header">@Model.Name</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="cardImageSize" src="~/images/@Model.Image">
                @* </div>
                    <div class="col-md-6 text-center"> *@
                <h5 hidden>Card Type: @Model.CardType</h5>
                <h5 hidden>Color: @Model.Color</h5>
                <h5 hidden>Level: @Model.Level</h5>
                <h5 hidden>Card Number: @Model.CardNumber</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                @{ if (true)
                    {
                        <form asp-action="AddCard" asp-controller="Home" method="post">
                            <input name="cardNumber" value="@Model.CardNumber" type="text" hidden />
                            <button type="submit">+</button>
                        </form>
                    }
                    else
                    {
                        <div class="col-1">
                            <form asp-action="AddCard" asp-controller="Home" method="post">
                                <input name="cardNumber" value="@Model.CardNumber" type="text" hidden />
                                <button type="submit">+</button>
                            </form>
                        </div>
                        <div class="col-1">
                            <form asp-action="RemoveCard" asp-controller="Home" method="post">
                                <input name="cardNumber" value="@Model.CardNumber" type="text" hidden />
                                <button type="submit"> - </button>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}