@{
    ViewData["Title"] = "Deck Builder";
    List<Card> deckToDisplay = ViewBag.Deck;
}
@model IEnumerable<Card>
<div class="row d-flex justify-content-center darkBlueBGColor p-2">
    <h1 class="text-light text-center">@ViewBag.Title</h1>
</div>

@*
    Deck
*@
<div class="row whiteBGColor">
    <div class="col-6 border border-dark border-3">
        <div class="row blueBGColor">
            <div class="col-12">
                <div class="col-12 align-self-center">
                    @* Take the deck name from the profile pg or set to defult name. ex: Deck 1 *@
                    <h3 class="text-center">Deck 1</h3>
                </div>
            </div>
        </div>
        <div class="row medBlueBGColor">
            <div class="col-6 align-self-start">
                <p class="bold text-center">Digi-eggs: @ViewBag.digiEggs/5 </p>
            </div>

            <div class="col-6 align-self-end">
                <p class="bold text-center">Cards: @ViewBag.cardsInDeck/50 </p>
            </div>
        </div>

        @*<p>Buttons for Deck - Implement later</p> Was Thinking of section to name the deck and also save the deck or we need another page for a deck*@
        <div class="row">
            @{ if (deckToDisplay.Count() == 0)//(Model == null)
                {
                    <div class="col-12 d-flex justify-content-center m-2">
                        <h1 class="text-center">No Cards in this Deck yet</h1>
                    </div>
                }
                else
                {
                    foreach (var card in deckToDisplay)
                    {
                        <div class="col-3">
                            <div class="round-10 text-center bold">
                                <div class="card m-1">
                                    <partial name="_CardDeckPartialView.cshtml" for="@card" />
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>

    @*
        Collection

    *@

    <div class="col-6 border border-dark border-3">
        <div class="row blueBGColor">
            <div class="col-12">
                <div class="col-12 align-self-center">
                    <h3 class="text-center">Collection</h3>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center medBlueBGColor">

            <div class=" col-12 align-self-center">
                <partial name="_HorizontalFilterPartialView.cshtml" />
            </div>
        </div>
        <div class="row">
            @{ if (ViewBag.cardCollection == null)
                {
                    <h1>no cards in Collection</h1>
                }
                else
                {
                    foreach (var card in ViewBag.cardCollection)
                    {
                        <div class="col-lg-3">
                            <div class="round-10 text-center bold">
                                <div class="card m-1">
                                    <partial name="_CardDeckPartialView.cshtml" for="@card" />
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
